.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: var(--distance-40);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--font-size-12);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.footer a {
  position: relative;
}

.footer a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: var(--color-red);
  transition: width 0.3s;
}

.footer a:hover::before {
  width: 100%;
}

.footer p {
  color: var(--color-light);
  display: flex;
  gap: var(--distance-5);
}
