nav {
  background-color: var(--color-navy);
  padding: var(--distance-40);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navigation-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a:focused {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--color-white);
}

a:hover {
  color: var(--color-claret);
}

.menu {
  display: flex;
  gap: var(--distance-20);
}

.logo img {
  height: 18px;
  width: auto;
}
