nav {
  background-color: var(--color-dark);
  padding: var(--distance-40);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navigation-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

a,
a:visited {
  color: var(--color-light);
}

a:hover {
  color: var(--color-red);
}

.menu {
  display: flex;
  gap: var(--distance-20);
  align-items: center;
}

.menu a {
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: var(--color-red);
  transition: width 0.3s;
}

.menu a:hover::before {
  width: 100%;
}

.logo {
  height: var(--navigation-logo);
  aspect-ratio: 4.87;
  background-image: url("/src/assets/img/logo-fin-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}

.logo:hover {
  background-image: url("/src/assets/img/logo-fin-red.svg");
}
